<div class="card mt-3">
<div class="card-body table-responsive-xl">
	<h3 class="card-title flex-grow-1">Submissions <small class="text-muted">for <%= @assignment_info.name %>
		in <%= @assignment_info.class %></small></h3>
	<table class="table table-hover text-center mt-3" id="submissionsTable">
		<thead><tr>	
			<th scope="col" class="text-left">Submitted By</th>
			<th scope="col">Size</th>
			<th scope="col">Late?</th>
			<th scope="col">Date Submitted</th>
			<th scope="col">Actions</th>
		</thead></tr>
		<tbody>
		<% @submission_infos.each do | s | %>
		<tr>
			<th scope="row" class="text-left"><%= s.submitter %></th>
			<td><%= s.size.pretty %></td>
			<td><%= s.late? ? '<span class="text-danger">yes</span>' : '<span class="text-success">no</span>' %></td>
			<td><%= s.date_submitted.strftime('%F <span class="text-muted">at</span> %H:%M') %></td>
			<td style="width:1%"><div class="btn-group dropdown">
				<a role="button" class="btn btn-secondary btn-sm" 
				href="<%= url("/download/#{s.path.relative_path_from(Pathname.new(PROJECTS_DIR))}")%>">
					Download submission
				</a>
  			</div></td>
		</tr>	
		<% end %>
		</tbody>
	</table>
</div>
</div>

<div class="card mt-4">
<div class="card-body">
<h3 class=card-title">Bulk download <small class="text-muted">submissions for <%= @assignment_info.name %></small></h3>
<hr>
<div class="d-flex flex-wrap justify-content-end">
	<form class="form-inline">
		<button type="submit" class="btn btn-secondary m-1">All submissions</button>
		<input type="hidden" name="download">
	</form>	

	<form class="form-inline">
		<button type="submit" class="btn btn-danger m-1">Late submissions only</button>
		<input type="hidden" name="download">
		<input type="hidden" name="only_late">
	</form>	

	<form class="form-inline">
		<button type="submit" class="btn btn-primary m-1">On-time submissions only</button>
		<input type="hidden" name="download">
	</form>	
</div>
</div>
</div>

<script>
$(document).ready(function() {
	$('#submissionsTable').DataTable( {
		"pageLength" : 5,
		"lengthMenu" : [[5, 10, 25, -1], [5, 10, 25, "All"]],
		"language": {
			"emptyTable": "no submissions yet"
		}
    } );
} );
</script>
