<div class="d-flex flex-row justify-content-end mt-5">
	<h2 class="flex-grow-1">Class: <%= @class %></h2>
	<button class="btn btn-danger ml-3" type="button" data-toggle="modal" data-target="#confirmDelete" aria-controls="addClass">Delete This Class</button>
	<button class="btn btn-primary ml-3" type="button" data-toggle="collapse" data-target="#addAssignment" aria-expanded="false" aria-controls="addAssignment">New Assignment</button>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="confirmDelete">Are you sure?</h4>
			</div>
			<div class="modal-body">
				<p>This will delete all assignments and submissions. This operation is non-recoverable.</p>
				<%= "<p><strong>Warning:</strong> There are other files in the homework folder NOT listed below that will be
					 permanently deleted by this operation. Check the <a href=\"https://ondemand.osc.edu/pun/sys/files/fs/#{@class_path}\">file system</a>
					 before deleting.</p>" if (@class_path.children(false).map{|p| p.to_s} - [SCRIPTS_DIR, IDENTIFICATION_FILE]).count > @table_rows.count %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<form action="<%= url("/all/#{@project}/#{@class}") %>" method ="post">
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit" class="btn btn-danger">Yes, delete this class</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="table-responsive-xl">
<table class="table table-hover text-center mt-3">
	<caption class="text-right">All homework assignments for <%= @class %></caption>
	<thead class="thead-dark"><tr>	
		<th scope="col" class="text-left">Assignment Name</th>
		<th scope="col">Status</th>
		<th scope="col">Submissions</th>
		<th scope="col">Date Created</th>
		<th scope="col">Date and Time Due</th>
	</thead></tr>
	<tbody>
	<% @table_rows.each do | a | %>
	<tr>
		<th scope="row" class="text-left"><a href="<%= url("#") %>"><%= a.name %></a></th>
		<td><%= a.open? ? '<span class="text-success">Open</span>' : '<span class="text-danger">Locked</span>' %></td>
		<td><%= a.submissions.count %></td>
		<td><%= a.date_created.strftime("%F") %></td>
		<td><%= a.date_due.nil? ? "<span class=\"text-muted\">None</span>" : a.date_due.strftime("%F at %I:%M %p") %></td>
	</tr>	
	<% end %>
	</tbody>
</table>
</div>
