<nav aria-label="breadcrumb" class="mt-5 mb-5">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="https://ondemand.osc.edu/pun/sys/dashboard/">Home</a></li>
		<li class="breadcrumb-item"><a href="https://ondemand.osc.edu/pun/sys/dashboard/apps/index">All Apps</a></li>
		<li class="breadcrumb-item"><a href="<%= url("/") %>">Homework Submission</a></li>
		<li class="breadcrumb-item active">All Classes</li>
	</ol>	
</nav>


<div class="collapse" id="addClass">
	<form class="card card-body">
		<div class="form-row">
			<div class="form-group col-8">
				<label for="className">Class Name</label>
				<input type="text" class="form-control" id="className" placeholder="e.g. SP2018_CSE2221_Software_I">	
			</div>
			<div class="form-group col">
				<label for="parentDirectory">Parent Directory</label>
				<select class="form-control" id="parentDirectory">
					<% @project_paths.each do | p | %>
						<option><%= p %></option>
					<% end %>
				</select>
			</div>
		</div>	
		<button type="submit" class="btn btn-primary">Add New Class</button>
	</form>
</div>

<div class="d-flex flex-row justify-content-end mt-5">
	<h2 class="flex-grow-1">All Classes</h2>
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addClass" aria-expanded="false" aria-controls="addClass">New Class</button>
</div>



<div class="table-responsive-xl">
<table class="table table-hover text-center mt-3">
	<caption class="text-right">All classes accessible by <%= `whoami` %></caption>
	<thead class="thead-dark"><tr>	
		<th scope="col" class="text-left">Class Name</th>
		<th scope="col">Project</th>
		<th scope="col"># of Assignments</th>
		<th scope="col"># of Submissions</th>
		<th scope="col">Date Created</th>
	</thead></tr>
	<tbody>
	<% @dir_paths.each do | p | %>
	<tr>
		<th scope="row" class="text-left"><a href="<%= url("/#{p.dirname.basename}/#{p.basename}") %>"><%= p.basename %></a></th>
		<td><a href="<%= url("/#{p.dirname.basename}") %>"><%= p.dirname.basename %></a></td>
		<td><%= p.children.count - 2%><%# minus 2 because of scripts directory and homework dir file %></td>
		<td><%= p.children.flat_map {|pc| pc.children if pc.directory?}.compact.count{|x| x.directory?} %></td>
		<td>2018-09-01<%# get this from data in homework dir file %></td>
	</tr>
	<% end %>
	</tbody>
</table>
</div>
