<nav aria-label="breadcrumb" class="mt-5">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="https://ondemand.osc.edu/pun/sys/dashboard/">Home</a></li>
		<li class="breadcrumb-item"><a href="https://ondemand.osc.edu/pun/sys/dashboard/apps/index">All Apps</a></li>
		<li class="breadcrumb-item"><a href="<%= url("/") %>">Homework Submission</a></li>
		<li class="breadcrumb-item"><a href="<%= url("/") %>">All Classes</a></li>
		<li class="breadcrumb-item active"><%= @project %></li>
	</ol>	
</nav>

<div class="clearfix mt-5">
	<h2 class="float-left">Project: <%= @project %> </h2>
	<button type="button" class="btn btn-primary float-right">Add New Class</button>
</div>

<div class="table-responsive-xl">
<table class="table table-hover text-center mt-3">
	<caption class="text-right">All classes under <%= @project %> accessible by <%= `whoami` %></caption>
	<thead class="thead-dark"><tr>	
		<th scope="col" class="text-left">Class Name</th>
		<th scope="col"># of Assignments</th>
		<th scope="col"># of Submissions</th>
		<th scope="col">Date Created</th>
	</thead></tr>
	<tbody>
	<% @dir_paths.each do | p | %>
	<tr>
		<th scope="row" class="text-left"><a href="<%= url("/#{p.dirname.basename}/#{p.basename}") %>"><%= p.basename %></a></th>
		<td><%= p.children.count - 2%><%# minus 2 because of scripts directory and homework dir file %></td>
		<td><%= p.children.flat_map {|pc| pc.children if pc.directory?}.compact.count{|x| x.directory?} %></td>
		<td>2018-09-01<%# get this from data in homework dir file %></td>
	</tr>
	<% end %>
	</tbody>
</table>
</div>
