<div class="card mt-3">
<div class="card-body table-responsive-xl">
<h3 class="card-title">Classes <small class="text-muted"> in <%= @project %></small></h3>
<table class="table table-hover text-center mt-3">
	<thead class="thead-dark"><tr>	
		<th scope="col" class="text-left">Name</th>
		<th scope="col">Project</th>
		<th scope="col" class="d-lg-table-cell d-none">Instructor</th>
		<th scope="col" class="d-lg-table-cell d-none">Date Created</th>
		<th scope="col">Actions</th>
	</thead></tr>
	<tbody>
	<% @class_infos.each do | c | %>
	<tr>
		<td class="text-left"><h5><%= c.name %>
			<span class="badge badge-dark ml-2" data-toggle="tooltip" data-placement="top" 
					title="<%=c.assignments.count%> assignment<%="s" if c.assignments.count != 1%>">
				A:<%=c.assignments.count%>
			</span>
			<span class="badge badge-light" data-toggle="tooltip" data-placement="top" 
					title="<%=c.submissions.count%> submission<%="s" if c.submissions.count != 1%>">
				S:<%=c.submissions.count%>
			</span>
		</h5></th>
		<td><%= c.project %></td>	
		<td class="d-lg-table-cell d-none"><%= c.instructor %></td>
		<td class="d-lg-table-cell d-none"><%= c.date_created.strftime("%F") %></td>
		<td style="width: 1%">

		<% if [ID::INSTRUCTOR, ID::TA].include? ID.identify(c.path) %>
		<div class="btn-group dropdown">
			<a role="button" class="btn btn-secondary btn-sm" 
				href="<%= url("/all/#{c.project}/#{c.name}") %>">
				View assignments
			</a>
			<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" 
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				More
  			</button>
  			<div class="dropdown-menu">
    			<a class="dropdown-item" href="<%= url("/all/#{c.project}/#{c.name}#addAssignment") %>">Add assignment</a>
    			<a class="dropdown-item disabled" href="#">View all submissions</a>
    			<a class="dropdown-item" target="_blank"
					 href="https://ondemand.osc.edu/pun/sys/files/fs<%=c.path%>/">Open in file explorer</a>
    			<a class="dropdown-item disabled" href="#">Rename class</a>
    			<div class="dropdown-divider"></div>
				<button class="btn btn-danger dropdown-item text-danger font-weight-bold" type="button" data-toggle="modal" data-target="#confirmDelete<%=c.name%>" aria-controls="addClass">Delete class</button>
  			</div>
		</div>	
		<% else %>
			<a role="button" class="btn btn-secondary btn-sm" 
				href="<%= url("/all/#{c.project}/#{c.name}") %>">
				View assignments
			</a>
		<% end %>

		</td>
	</tr>
	<% end %>
	<% if @class_infos.empty? %>
		<tr><td colspan="5"><h5 class="mt-3 mb-4 text-muted font-weight-normal">no classes yet</h5></td></tr>
	<% end %>
	</tbody>
</table>
</div>
</div>

<div class="card mt-4">
<div class="card-body">
<h3 class="card-title">Create new class <small class="text-muted"> under the project space of <%=@project%></small></h3>
<form action="<%= url("/add/class") %>" method ="post">
	<div class="form-group">	
		<label for="className">Class name</label>
		<input type="text" class="form-control" id="className" name="class_name">	
		<small class="form-text text-muted">This will be the name of a directory on the file system;
		 use alphanumberic characters and underscores only</small>
	</div>
	<div class="form-group">
		<label for="parentDirectory">Project directory</label>
		<input type="text" readonly class="form-control" id="parentDirectory" name="parent_dir" value="<%= @project_path %>">
		<small class="form-text text-muted">Location in project space file system where the class directory will be created;
			return to '<a href="<%= url("/all") %>">All Classes</a>' to select a different directory</small>
	</div>	
	<button type="submit" class="btn btn-primary float-right">Create class</button>
</form>
</div>
</div>

<% @class_infos.each do | c | %>
<div class="modal fade" id="confirmDelete<%=c.name%>" tabindex="-1" role="dialog" aria-labelledby="confirmDelete<%=c.name%>" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="confirmDelete">Are you sure?</h4>
			</div>
			<div class="modal-body">
				<p>This will delete all (<%=c.assignments.count%>) assignments and (<%=c.submissions.count%>) submissions. This operation is non-recoverable.</p>
			<%= "<p><strong>Warning:</strong> There are other files in the homework folder NOT counted above
			  	 that will be permanently deleted by this operation. Check the 
				 <a target=\"_blank\" href=\"https://ondemand.osc.edu/pun/sys/files/fs#{c.path}/\">file system</a>
				 before deleting.</p>" 	if (c.path.children(false).map{|p| p.to_s} - [SCRIPTS_DIR, IDENTIFICATION_FILE]).count > c.assignments.count %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<form action="<%= url("/all/#{c.project}/#{c.name}") %>" method ="post">
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit" class="btn btn-danger">Yes, delete <%=c.name%></button>
				</form>
			</div>
		</div>
	</div>
</div>
<% end %>
