<div class="collapse" id="addClass">
	<form class="card card-body" action="<%= url("/add/class") %>" method ="post">
		<div class="form-row">
			<div class="form-group col-8">
				<label for="className">Class Name</label>
				<input type="text" class="form-control" id="className" name="class_name" placeholder="e.g. SP2018_CSE2221_Software_I">	
			</div>
			<div class="form-group col">
				<label for="parentDirectory">Parent Directory</label>
				<input type="text" readonly class="form-control" id="parentDirectory" name= "parent_dir" value="<%= @project_path %>">
			</div>
		</div>	
		<button type="submit" class="btn btn-primary">Add New Class</button>
	</form>
</div>

<div class="d-flex flex-row justify-content-end mt-5">
	<h2 class="flex-grow-1">Project: <%= @project %></h2>
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addClass" aria-expanded="false" aria-controls="addClass">New Class</button>
</div>

<div class="table-responsive-xl">
<table class="table table-hover text-center mt-3">
	<caption class="text-right">All classes under <%= @project %> accessible by <%= `whoami` %></caption>
	<thead class="thead-dark"><tr>	
		<th scope="col" class="text-left">Class Name</th>
		<th scope="col"># of Assignments</th>
		<th scope="col"># of Submissions</th>
		<th scope="col">Date Created</th>
	</thead></tr>
	<tbody>
	<% @table_rows.each do | c | %>
	<tr>
		<th scope="row" class="text-left"><a href="<%= url("/all/#{c.project}/#{c.name}") %>"><%= c.name %></a></th>
		<td><%= c.assignments %></td>
		<td><%= c.submissions %></td>
		<td><%= c.date_created.strftime("%F") %></td>
	</tr>
	<% end %>
	</tbody>
</table>
</div>
